<!DOCTYPE html>
<html>
<head>
  <title>Pinterested</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<!-- = means oupt content to screen -->
<%= render 'home/header'%> 
<!-- for each flash message do something, output the message in a css div with class alert alert-info -->
<% flash.each do |name,msg| %>
	<%= content_tag(:div,msg,class:"alert alert-info") %>
<% end %>
<!-- renderd all the other templates here -->
<%= yield %>
</div>

</body>
</html>
